@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Courier New", Courier, monospace;
}

body {
  background: #fafafa;
}

h5 {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.3fr 2.4fr 0.3fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0.125rem 0.0125rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #dbdbdb solid;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px #dbdbdb solid;
}

main {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem 0.5rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: main;
}

.nav-bar-list {
  padding: 0;
  list-style: none;
  display: flex;
}

li {
  margin-left: 5rem;
  cursor: pointer;
}

li:hover {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

/* card foods styles */

.card-food {
  display: grid;
  grid-template-columns: 1fr 1.4fr 0.6fr;
  grid-template-rows: 2fr 0.4fr 0.2fr;
  gap: 0;
  grid-template-areas:
    'card-img card-img card-img'
    'card-title card-title card-title'
    'btn-recipe . btn-liked';
  border: #dbdbdb 1px solid;
}

.card-img {
  overflow: hidden;
  box-sizing: border-box;
  grid-area: card-img;
}

.img-food {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.card-title {
  grid-area: card-title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.2rem;
}

.btn-recipe {
  grid-area: btn-recipe;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0.2rem;
}

.btn-recipe button {
  background: rgb(221, 21, 21);
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.1rem 0.4rem;
  cursor: pointer;
}

.btn-liked {
  grid-area: btn-liked;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.2rem;
}

.btn-liked button {
  background: white;
  border: 1px solid #dbdbdb;
  color: rgb(221, 21, 21);
  font-weight: bold;
  padding: 0.1rem 0.4rem;
  cursor: pointer;
}

.no-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hiden {
  display: none !important;
}

.popuptext {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  /* height: 70vh; */
  background-color: rgb(177 142 142);
  color: rgb(56 26 26);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
}

.popuptext button {
  cursor: pointer;
  align-self: flex-end;
  margin: 10px 20px;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(177 142 142);
  color: rgb(56 26 26);
  border: none;
  font-size: xx-large;
}

/* Toggle this class when clicking on the popup container */
.show {
  animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
